<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <style>
        .login-form {
            background: #e1e1e1;
            border-radius: 1em;
        }

        @media (max-width: 576px) {
            .login-form {
                margin: 1.5rem;
            }
        }

        .registration {
            margin: auto 0;
            text-align: center;
        }

        .fa {
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }

        .fa-github {
            background: black;
            color: white;
        }


        .loginGithub {
            background-color: black;
            color: white;
            font-size: 15px;
        }

        .loginGithub:hover {
            color: white;
        }

    </style>

</head>

<body>


    <div class="row justify-content-sm-center">
        <div class="col-lg-4 col-md-6 col-sm-8 mt-4">

            <form class="p-4 login-form" action="http://localhost:3030/login" method="post">
                <label for="">Iniciar sesión</label>
                <div class="form-group mb-4">
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                        placeholder="Ingresa tu mail" required="required">
                </div>

                <div class="form-group mb-4">
                    <input type="password" class="form-control" id="password" name="password" required="required"
                        placeholder="Contraseña">
                </div>

                <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</button>

                {{#if sessionInfo.errorMessage }}
                <div class="alert alert-danger mt-4" role="alert">{{sessionInfo.errorMessage}}</div>
                {{/if}}

                <hr> <!-- Separator Line -->
                <div class="text-center mt-4">
                    <p>O iniciá sesión con:</p>
                    <!-- GitHub Login Button -->
                    <a href="/sessions/github" id="github-button" class="btn btn-block btn-social btn-github loginGithub">
                        <i class="fa fa-github"></i> Github
                    </a>
                </div>

            </form>


            <div class="registration">
                <small>¿Todavía no estás registrado? Hacé click <a href="http://localhost:3030/signup">acá</a></small>
            </div>


        </div>
    </div>


    <script>
        document.getElementById('email').focus();
    </script>


</body>

</html>