<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Confirmed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-4">

                <div class="p-4 login-form">
                    <h2 class="text-center mb-4">¡Gracias por elegirnos! ❤️</h2>
                    <div class="alert alert-success text-center" role="alert">
                        Tu compra se ha confirmado con éxito.
                    </div>
                    <p class="text-center">Gracias por tu compra. Un resumen de tu pedido se envió a tu correo. Si tienes alguna pregunta o inquietud, no dudes en contactarnos</a>.</p>
                    <p class="text-center"><a href="{{dynamicURL}}">Volver a la página principal</a></p>
                </div>

            </div>
        </div>
    </div>

</body>

</html>
