<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 mt-4">

                <form class="p-4 change-password-form" action="http://localhost:3030/setNewPassword" method="post">
                    <h2 class="text-center mb-4">Cambiar contrase単a para {{ email }}</h2>
                    <input type="hidden" name="email" value="{{ email }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="form-group">
                        <label for="password">Nueva contrase単a</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirmar contrase単a</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                            required>
                        <div id="passwordMismatch" class="text-danger"></div>
                    </div>

                    {{#if sessionInfo.errorMessage }}
                    <div class="alert alert-danger mt-4" role="alert">{{sessionInfo.errorMessage}}</div>
                    {{/if}}

                    <button type="submit" class="btn btn-success btn-block">Cambiar contrase単a</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        const passwordInput = document.getElementById('password');
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const passwordMismatchError = document.getElementById('passwordMismatch');

        function validatePassword() {
            const password = passwordInput.value;
            const confirmPassword = confirmPasswordInput.value;

            if (password === confirmPassword) {
                passwordMismatchError.textContent = '';
            } else {
                passwordMismatchError.textContent = 'Passwords do not match';
            }
        }

        passwordInput.addEventListener('input', validatePassword);
        confirmPasswordInput.addEventListener('input', validatePassword);
    </script>

</body>

</html>