<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Changed</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 mt-4">

            <div class="alert alert-success p-4 text-center">
                <h2>Contraseña modificada exitosamente!</h2>
                <p>Tu contraseña ha sido cambiada con éxito. Ahora podés loguearte con tu nueva contraseña.</p>
                <a href="http://localhost:3030/login" class="btn btn-primary">Ir a iniciar sesión</a>
            </div>

        </div>
    </div>
</div>

</body>
</html>
